*
{
	font-family: georgia;
}

body
{
	font-size: 3.6vmin;
	background-color: rgb(35, 35, 45);
}

/* Generic */

.outer-gray-box
{
	color: rgb(200, 200, 210);
	background-color: rgb(50, 50, 60);

	border: 0.2em solid rgb(50, 50, 60);
	border-radius: 10em;

	box-shadow: 0.1em 0.1em rgb(40, 40, 50);
}

/* Main Menu */

.center-screen
{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.main-menu
{
	width: 75vw;
	height: 75vh;

	position: relative;
	margin: 12.5vh auto;

	border-radius: 2em;

	background-color: rgb(25, 25, 32);
}

.main-menu-title
{
	position: absolute;
	top: 22%;
	color: white;
	font-size: 3em;
}

.main-menu-button-list
{
	list-style-type: none;
	position: absolute;
	top: 50%;
	padding: 0 0;
}

.main-menu-button-list li
{
	display: inline-block;
	color: white;
	margin: 10px 30px;
}

.main-menu-button-list li button
{
	padding: 10px 30px;

	box-shadow: 2px 2px rgb(40, 40, 50);

	cursor: pointer;

	font-size: 0.8em;
}

.main-menu-button-list li button:hover
{
	position: relative;
	top: 1px;
	left: 1px;

	box-shadow: 1px 1px rgb(40, 40, 50);
}

/* New Game */

.containing-box
{
	position: relative;

	width: 50vw;
	height: 25vh;

	margin: 10px auto;
	border-radius: 2vw;
}

.route-title
{
	width: 100%;

	top: 0;

	text-align: center;
	font-weight: bold;

	font-size: 1.8em;

	margin: 0;
}

.pokemon-image-holder
{
	position: absolute;
	top: 60%;
	left: 10%;

	/* This makes the center the central point, instead of the top-left */
	transform: translateY(-50%);

	width: 13vmin;
	height: 13vmin;

	background-color: rgb(47, 47, 57);
	border: 0.1em solid rgb(55 55 65);
	border-radius: 5em;
}

.pokemon-image-holder img
{
	position: absolute;
	top: -75%;
	/* transform: translateY(-10%); */
	left: 50%;
	transform: translateX(-50%);

	width: 200%;
	/* height: 100%; */
	/* height: 100%; */

	/* min-width: fit-content; */
	/* max-height: fit-content; */
	/* min-width: fit-content; */

	margin: auto;

	image-rendering: pixelated;
}

.pokemon-selection-wrapper
{
	position: absolute;

	left: calc(13vmin + 15%);
	top: 45%;

	width: 42%;
	height: 7.25vmin;
}

.pokemon-input-field
{
	color: rgb(200, 200, 210);
	background-color: rgb(47, 47, 57);

	width: 100%;
	height: 7.25vmin;

	margin: 0;

	/* 
		`padding: 0` being included or not does not seem to change the structure of the page.
		When it's not included, the input field will simply have a very small padding.

		I've decided to include it to avoid further confusion, as it does not influence anything.
	*/
	padding: 0;
	padding-left: 5%;

	border: 0.1em solid rgb(55 55 65);
	border-radius: 0.25em;

	font-size: 1em;

	box-sizing: border-box;
}

.pokemon-input-field:focus
{
	outline: none;

	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

/* 
The purpose of this rule is to help UX during the selection of a pokemon from the pokemon list,
when a previous pokemon had already been selected in that route box.

To contextualize, when the pokemon list is open the value of the input field is the empty string,
and the placeholder is the current selected pokemon.

When the user clicks in a pokemon from the list, the `blur` event of the input field is fired, 
which updates the value of the input field to the current selected pokemon.

The problem is that if the user holds the click, the `blur` event is fired in the very
beginning of the mouse down, which means the user has not selected a new pokemon yet, but the
value of the input field will be updated.

To keep the impression that nothing has changed (because no pokemon has been selected yet), the
value gets the color of the placeholder while the user holds the click.

When the user releases the click, the list will close, the pokemon-selection-wrapper will not be
active anymore and the value will regain its usual color.
*/
.pokemon-selection-wrapper:active .pokemon-input-field
{
	color: rgb(117, 117, 117);
}

.pokemon-list
{
	list-style: none;

	margin: 0;
	padding: 0;

	/* 
		Adds a scrollbar to the list. 
		Note that the height was set so it shows 8 list items (8 * 8vmin). 
	*/
	height: 64vmin;
	overflow-x: hidden;
	overflow-y: auto;

	/* The pokemon list should only be displayed when the 'pokemon-input-field' is in focus or a list item is being clicked on */
	display: none;
}

/*  Applied style:
    1 - to all list items when 'pokemon-input-field' is in focus
    2 - whenever a list item is 'active', the 'active' pseudoclass propagates to their parents, and in this case, one of the parents is 'pokemon-list', therefore when an item is activated, all other items are also styled
    Note: this makes it possible to click in an item and trigger the 'click' event before it disappears (using 'focus' & 'blur' events, for example)
*/
.pokemon-input-field:focus + .pokemon-list,
.pokemon-list:active
{
	display: block;
}

.pokemon-list li
{
	position: relative;

	cursor: pointer;

	width: 100%;
	height: 8vmin;

	color: rgb(200, 200, 210);
	background-color: rgb(47, 47, 57);

	border: 0.1em solid rgb(55 55 65);

	box-sizing: border-box;

	/* This makes the list item contents not selectable, as in select to copy and paste */
	user-select: none;
}

.pokemon-list li:last-child
{
	border-bottom-left-radius: 0.1em;
	border-bottom-right-radius: 0.1em;
}

/* 
	The next 3 rules define the following scenario:
	- When the user is only hovering over list items, they should be darker
	- When the user is clicking on a list item, it should be darker
	- When the user is clicking on a list item, but change the mouse position and begins to hover 
	  other list items, the clicked item will remain darker and all others will not be darker
*/
.pokemon-list li:hover
{
	background-color: rgb(31, 31, 38);
}

.pokemon-list:active li:hover
{
	background-color: rgb(47, 47, 57);
}

.pokemon-list:active li:active
{
	background-color: rgb(31, 31, 38);
}

/* This is meant to hide pokemon list items when its respective pokemon name doesn't match the input in the input field */
.pokemon-list li.off
{
	display: none;
}

.pokemon-list li *
{
	/* This makes all children of pokemon list item not receive click events. */
	pointer-events: none;
}

/* This is equivalent to: `.pokemon-list li img` */
.pokemon-list img
{
	position: absolute;

	left: 0;
	top: -50%;

	width: auto;
	height: 150%;

	/* image-rendering: pixelated; */
}

/* This is equivalent to: `.pokemon-list li p` */
.pokemon-list p
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	margin: 0;
	padding-left: 30%;
}

.state-dropdown-wrapper
{
	position: absolute;

	top: 45%;
	right: 4.5%;

	width: 20%;
	height: 7.25vmin;
}

.state-dropdown
{
	color: rgb(200, 200, 210);
	background-color: rgb(47, 47, 57);

	width: 100%;
	height: 100%;

	border: 0.1em solid rgb(55 55 65);

	font-size: 0.8em;

	box-sizing: border-box;
}

.state-dropdown:focus
{
	outline: 0.1em solid rgb(105 105 115);
}